- bidding_auctions = current_user.bidding_auctions.where(closed: false).uniq

- if bidding_auctions.blank?
  %p.text-muted
    入札中のオークションはありません。
- else
  %table.table.table-striped
    %thead
      %th タイトル
      %th 開始日時
      %th 終了予定日時
    %tbody
      - bidding_auctions.each do |auction|
        %tr
          %td= auction.title
          %td= auction.open_at
          %td= auction.close_at
