- opened_auctions = current_user.owned_auctions.opened

- if opened_auctions.blank?
  %p.text-muted
    出品中のオークションはありません。
- else
  %table.table.table-striped
    %thead
      %th カテゴリ
      %th タイトル
      %th 開始日時
      %th 終了予定日時
    %tbody
      - opened_auctions.each do |auction|
        %tr
          %td= auction.category.name
          %td= auction.title
          %td= auction.open_at
          %td= auction.close_at
