%h1 オークション一覧

%hr

%h2 あなたが開催しているオークション一覧

- if current_user.auctions.blank?
  %p あなたが開催しているオークションはありません。

= link_to 'オークションの新規作成', new_my_auction_path, class: 'btn btn-primary'

%h2 入札中のオークション一覧

- if current_user.bids.blank?
  %p 入札中のオークションはありません。
