= render 'common/auctions/show'

- if @auction.in_ready?
  %hr
  .pull-right
    = link_to '編集', [:edit, :my, @auction], class: 'btn btn-primary'
    = link_to '削除', [:my, @auction], method: :delete, class: 'btn btn-danger'
