= render 'common/auctions/auction', auction: @auction

%hr

.pull-right
  - if @auction.in_ready?
    = link_to '編集', edit_my_auction_path, class: 'btn btn-primary'
  = link_to '戻る', :back, class: 'btn btn-default'
