- breadcrumb :category, @category

.row
  .col-md-3
    = render 'common/categories/index'
  .col-md-9
    %h1
      = "「#{@category.name}」のオークション 一覧"
    %hr
    - if @auctions.blank?
      %p.text-muted
        このカテゴリで、現在開催されているオークションは存在しません。
    - else
      = render 'thumbnail'
