- @auctions = Auction.opened

.row
  .col-md-3
    = render 'common/categories/index'
  .col-md-9
    %h1
      オークション 一覧
    %hr
    - if @auctions.size.zero?
      %p
        現在開催されているオークションはありません。
    - else
      %p
        現在、
        = @auctions.size
        件のオークションが開催されています。
      %hr
      = render 'common/auctions/index'
