%h2
  カテゴリから検索
.list-group
  - Category.all.each do |category|
    = link_to(category_auctions_path(category), class: 'list-group-item') do
      = category.name
      %span.badge
        = category.auctions.opened.size
